
.clear{clear:both;}

/***** Start of primary nav ******/
#menu-button{display: none;}
nav.mobile { display:none;}

nav.primary {
	padding:0;
	margin:0;
	width:100%;
	position:relative;
	text-align: right;
	background: #ECE9E6 url(../images/white.png) repeat;
	}
	nav.primary ul {
		margin:0 auto; 
		padding:0;
		width:80%;
		}
		nav.primary ul li {
			margin:0; 
			padding:0;
			display: inline-block;
			list-style-type:none; font-family: 'Anton', sans-serif;
			}
			nav.primary ul li a {
				display:block;
				color:#333;
				font-size:18px;
				line-height:60px;
				text-decoration:none;
				padding:0 20px;
				margin:0;
				text-align:center;
				text-transform:uppercase;
				-webkit-transition:.4s ease-in;  
				-moz-transition:.4s ease-in;  
				-o-transition:.4s ease-in;  
				transition:.4s ease-in;
				}	
			nav.primary ul li a:hover {
				color:#fff; 
				background: #8498CD;
				}
			/* Appearance of the sub-level links */
			nav.primary ul li li a { 
				font-size:16px;
				line-height:16px;
				padding:10px 0;
				text-indent:20px;
				color:#fff;
				background: #181818;
				text-align:left;
				border-right:none;
				border-left:none;
				border-bottom: #fff solid 1px;
			}
			/* Appearance of the sub-level links on hover */
			nav.primary ul li li a:hover { 
			}
/* This controls the Primary nav dropdowns for sublinks. Should not have to edit this too muuch */
nav.primary ul ul {
    display: none;
    position: absolute; 
}
nav.primary ul ul ul {
    position: absolute; 
    left: 100%;
    top:0; 
}
nav.primary ul li:hover > ul {  
    display: block;
    line-height:18px; 
    z-index: 100;
}
nav.primary ul ul li {
    float: none; 
	width: 230px;
    position: relative;
    margin:0;
}
/******** End of primary Nav ***************/

@media screen and (max-width: 760px)  {

/*==============================
	Mobile Nav Styles			
================================*/	
nav.primary{display:none;}
#menu-button{ 
	width: 100%;
	display: block;
	font-size: 24px;
	position: relative;
	line-height:60px; 
	z-index: 400; /* needs to be lower than nav.mobile, adjust as needed */
	background: #ECE9E6 url(../images/white.png) repeat; font-family: 'Anton', sans-serif;
	}
	#menu-button a{
		 color:#555;
		 text-decoration: none;
		 padding:0 0 0 .8em; 
		 font-weight:normal;
	  }
nav.mobile {
	display:block;
	position: fixed;
	top: 0;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #333;
	z-index: 500; /* needs to be higher than #menu-button, adjust as needed */
	overflow:auto;
}
/* MENU HEADER SOCIAL MEDIA */
	nav.mobile .social-media {
		position: relative;
		text-decoration: none;
		display: inline-block;
		font-size:16px;
		word-spacing:13px;
		padding:0 0 0 15px;
		color: #ccc !important;
	}
	
	nav.mobile .social-media a:link, nav.mobile .social-media a:visited {color:#ccc; text-decoration:none;}
	nav.mobile .social-media a:hover, nav.mobile .social-media a:active {color:#fff; text-decoration:underline;}

/* MENU HEADER STYLES */
nav.mobile .mobile_top {
	position: relative;
	display:block;
	padding: 0;
	margin:15px 0 10px 0;
	color: #999;
	font-size: 18px;
	font-weight: 400;
	
}

/* MENU CLOSE 'X' BUTTON */
nav.mobile .menu-toggle {
	position: absolute;
	padding: 3px 8px 3px;
	font-family: Arial, sans-serif;
	font-size:24px;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
	text-decoration: none;
	top:-4px;
	right:13px;
}
nav.mobile .menu-toggle:hover { /* Menu close button on hoveer */
	color: #fff;
}

/* MENU LIST STYLE */
nav.mobile ul {
	list-style: none;
	font-weight: 300;
	margin:0;
	padding:0;
}
nav.mobile ul li {
	border-top: 1px solid #454545;
	border-bottom: 1px solid #151515;
	position:relative;font-family: 'Montserrat', sans-serif;
}

/* FIRST LEVEL */
nav.mobile ul li a {
	position: relative;
	display: block;
	font-size:15px;
	padding: 10px;
	color: #999;
	text-decoration: none;
	border-left:4px #333 solid;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
nav.mobile ul li a:hover {
	background:rgba(45,45,45,0.5); 
	color: #fff; 
	border-left:4px #8498CD solid; /* border highlight - Change to fit match site colors */
}

/* SECOND LEVEL */
nav.mobile ul li li:last-child {border:none;}
nav.mobile ul li li a {
	background: #444;
	position: relative;
	display: block;
	padding: 10px 10px 10px 15px;
	border-left:4px #444 solid;
	color: #ccc;
	text-decoration: none;
}
nav.mobile ul li li a:hover {background:rgba(65,65,65,0.5);}

/* THIRD LEVEL */
nav.mobile ul li li li:last-child {border:none;}
nav.mobile ul li li li a {
	background: #555;
	position: relative;
	display: block;
	padding: 10px 10px 10px 25px;
	color: #ccc;
	text-decoration: none;
	border-left:4px #555 solid;
}
nav.mobile ul li li li a:hover {background:rgba(85,85,85,0.5);}

nav.mobile ul li .click{/* dropdown menu idicator arrow be sure to include this image with your image files */ 
	position:absolute;
	display:block;
	cursor:pointer;
	z-index: 12399994;
	top:0;
	right:0;
	width:auto;
	height:auto;
	padding: 17px 20px;
	color:#fff;

}
.nav-footer {color:#ccc; position:relative; text-align:center; font-size:14px; line-height:16px; padding:15px 0; font-family: 'Montserrat', sans-serif;}

/* FONT AWESOME ICONS */
nav.mobile ul li a .fa{
	width:25px;
	font-weight:100;
	padding:8px 3px;
	margin:0 6px 0 0;
	text-align:center;
	background:#292929;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}


nav.mobile ul li .fa-chevron-down {color:#999;}
}